<li data-id='{{idNotification}}' data-name='{{name}}'>
 <a href='#page-notification'> {{t "collection_page.notifications_message"}}
   <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{notifications.total}}</span>
 </a>
</li>
<br>
