label.error {
  color: red;
  font-size: 12px;
  font-weight: normal;
}

input.error, .ui-select.error, .tree.error, .photo.error ,
input.info, .ui-select.info, .tree.info, .photo.info{
  border: 1px solid red !important;
}

.ui-select.error, .ui-select.info {
  border-radius: 16px;
}
.ui-select.valid {
  border: 1px solid #f3f3f3 !important;
  border-radius: 16px;
}

@media screen and (orientation: portrait){
  label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
  label.error { display: inline-block; margin-left: 0; }
}
